h1 {
    color:darkslategrey;
    text-align: center;
}

h2 {
    color:darkslategrey;
    text-align: center;
}

h3 {
    color:darkslategrey;
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
    color:color:darkslategrey;
    text-decoration: none;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: blue;
  color: black;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:skyblue;
  color: darkslategrey;
  text-align: center;
